/* Common properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime; */
}

html {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

.space {
    margin: 0 auto;
    width: 80%;
}

/* Properties about the header */

header {
    background-color: rgba(0, 132, 253, 1);
    height: 7vh;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav figure a img {
    height: 70%;
    padding-top: 15px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


.list-item {
    list-style-type: none;
}

header nav ul li a {
    color: white;
    text-transform: capitalize;
}

#start:hover {
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
}

/* Properties about the first section */

.margin {
    margin-block: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
}

.boxes {
    display: inline-block;
    aspect-ratio: 1;
    flex-basis: calc( (100% / 3) - (40px / 3) );
    border-radius: 30px;
    background-color: rgba(181, 221, 255, 1);
    text-align: center;
}

div.boxes:nth-child(1) {
    flex-basis: 66%;
    aspect-ratio: 0;

    display: flex;
}

.box-1 {
    flex-basis: 80%;
    padding-left: 2em;
    text-align: left;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box-2 img {
    width: 70%;  
}

.btn {
    border-radius: 30px;
    padding: 5px 10px;
    color: white;
}

.btn-blue {
    background-color: rgba(0, 132, 253, 1);
    text-transform: capitalize;
    padding-inline: 30px;
}

div.boxes h2 {
    text-transform: capitalize;
    color: rgba(5, 135, 253, 1);
    padding-block: 1em;
}

.icons {
    color: rgba(5, 135, 253, 1);
    font-size: 5rem;
}

div.boxes p {
    line-height: 180%;
    color: rgba(82, 100, 116, 1);
    padding-block: 1em;
}

/* Properties about the second section */

main section:nth-child(2) {
    background-color: rgba(151, 146, 228, 1);
}

.space-2 {
    margin: 0 auto;
    width: 70%;
}



/* Media query respnsive */

@media screen and (max-width: 768px) {
    .space {
        margin: 0 auto;
        width: 90%;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;    
    }

    .boxes {
        flex-basis: calc( (100% / 3) - (20px / 3) );
        padding-inline: 30px; 
    }

    .boxes:first-child {
        display: flex;
        flex-direction: column;
    }

    .box-2 {
        display: flex;
        justify-content: left;
        align-items: flex-end;
    }

    .box-2 img {
        padding-top: 30px; 
    }
}

@media screen and (max-width: 425px) {
    header nav ul  {
        display: none;
    }

    .space {
        margin: 0 auto;
        width: 90%;
    }

    .margin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.boxes:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-2 img {
        padding-top: 30px; 
    }
}