/* COMMON PROPERTIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime; */
}

html {
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

.space {
    margin: 0 auto;
    width: 80%;
}

.margin {
    margin-block: 40px;
}

.transform {
    text-transform: capitalize;
}

.text {
    line-height: 180%;
    padding-block: 1em;
}

section.background:nth-child(even) {
    background-color: rgba(151, 146, 228, 1); 
}

/* PROPERTIES ABOUT THE HEADER */

header {
    background-color: rgba(0, 132, 253, 1);
    height: 7vh;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav figure a img {
    height: 70%;
    padding-top: 15px;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


.list-item {
    list-style-type: none;
}

header nav ul li a {
    color: white;
}

#start:hover {
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
}

/* PROPERTIES ABOUT THE FIRST SECTION */


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.boxes {
    display: inline-block;
    aspect-ratio: 1;
    flex-basis: calc( (100% / 3) - (40px / 3) );
    border-radius: 30px;
    background-color: rgba(181, 221, 255, 1);
    text-align: center;
}

div.boxes:nth-child(1) {
    flex-basis: 66%;
    aspect-ratio: 0;

    display: flex;
}

.box-1 {
    flex-basis: 80%;
    padding-left: 2em;
    text-align: left;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box-2 img {
    width: 70%;
}

.btn {
    border-radius: 30px;
    padding: 5px 10px;
    color: white;
}

.btn-blue {
    background-color: rgba(0, 132, 253, 1);
    padding-inline: 30px;
}

div.boxes h2 {
    color: rgba(5, 135, 253, 1);
    padding-block: 1em;
}

.icons {
    color: rgba(5, 135, 253, 1);
    font-size: 5rem;
}

div.boxes p {
    color: rgba(82, 100, 116, 1);
}

/* PROPERTIES ABOUT THE SECOND SECTION */

#planning {
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 30px;

    margin: 0 auto;
    width: 50%;

    padding-top: 5em;
    padding-bottom: 2em;
}

div#planning > div figure img {
    width: 90%;
}

div#planning > div:nth-child(1) {
    color: white;
}


div#planning > div:nth-child(1) h2 {
    margin-top: 3em;
    margin-bottom: 1em;
}


div#planning > div:nth-child(1) > p {
    width: 80%;
}

div#planning > div:nth-child(2) {
    background-color: white;
    color: black;
    border-radius: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    padding: 1em 1em;
}

div#planning > div:nth-child(2) > h2 {
    padding-top: 1em;
}

div#planning > div:nth-child(2) > p{
    font-style: italic;
}

div#planning > div:nth-child(2) > a{
    color: black;
    background-color: rgba(151, 146, 228, 1); 
    
    border-radius: 50%;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* PROPERTIES ABOUT THE THIRD SECTION */

.testimonial {
    text-align: center;
}

div.testimonial > h2 {
    color: rgba(148, 143, 227, 1);
    font-size: 2.2rem;
    padding-block: 30px;
}

.people {
    display: flex;
    align-items: center;

    margin-block: 30px;
    color: white;
    background-color: rgba(151, 146, 228, 1); 
    border-radius: 30px;
}

.person {
    margin: 20px 30px;
    width: 12%;
}

div.people > div.person figure img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

div.people > div:last-child > blockquote {
    margin: 0px 30px 30px 0px;
}

.name {
    text-transform: uppercase;
}

/* .quotes {
    font-size: 50px;
} */

/* PROPERTIES ABOUT THE FOURTH SECTION */

.benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    padding-bottom: 3em;
}

#features {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-block: 1em;
}

.offers {
    flex-basis: calc( (100% / 3 ) - (80px / 3));
    background-color: white;
    border-radius: 30px;
    padding: 30px 50px;
}

.offers > h3 {
    color: rgba(151, 146, 228, 1); 
    font-size: 50px;
    padding-bottom: 20px;
}

.offers > span {
    color: rgba(151, 146, 228, 1); 
    font-size: 20px;
}

.offers > p {
    color: rgba(118, 118, 118, 1);
}

.offers > a {
    background-color: rgba(151, 146, 228, 1); 
    padding-inline: 40px;
}

/* MEDIA QUERY RESPONSIVE */

@media screen and (max-width: 768px) {
    /* GENERAL MEDIA QUERY'S PROPERTIES */
    .space {
        margin: 0 auto;
        width: 90%;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    /* FIRST SECTION */
    .boxes {
        flex-basis: calc( (100% / 3) - (20px / 3) );
        padding-inline: 30px;
    }

    .boxes:first-child {
        display: flex;
        flex-direction: column;
    }

    .box-2 {
        display: flex;
        justify-content: left;
        align-items: flex-end;
    }

    .box-2 img {
        padding-top: 30px;
    }

    /* SECOND SECTION */
    #planning {
        margin: 0 auto;
        width: 90%;

        display: flex;
        flex-direction: column;
    }

    div#planning > div:nth-child(1) > p {
        width: 100%;
    }

    div#planning > div:nth-child(2) {
        margin-block: 1em;
    }

    /* THIRD SECTION */
    div.testimonial > span {
        display: block;
        padding-top: 30px;
    }

    .person {
        width: 70%;
    }

    div.people:last-child > .person {
        width: 40%;
    }

    /* FOURTH SECTION */
     .offers {
        flex-basis: calc( (100% / 2 ) - (80px / 2));
    }
}

@media screen and (max-width: 425px) {
    /* GENERAL MEDIA QUERY'S PROPERTIES */
    .space {
        margin: 0 auto;
        width: 90%;
    }

    .container {
        gap: 30px;
    }

    /* HEADER */
    header nav ul  {
        display: none;
    }


    /* FIRST SECTION */
    .margin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.boxes:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-2 {
        justify-content: center;
    }

    .box-2 img {
        padding-top: 30px;
    }

    /* SECOND SECTION */
    #planning {
        margin: 0 auto;
        width: 90%;

        display: flex;
        flex-direction: column;
    }

    div#planning > div:nth-child(2) {
        margin-block: 1em;
    }

    /* THIRD SECTION */
    .cards {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    div.testimonial > span {
        display: block;
        padding-top: 30px;
    }

    .people {
        display: flex;
        flex-direction: column;
    }

    div.people > div:last-child > blockquote {
        margin: 0px 30px 30px 30px;
    }

    .name {
        display: block;
        margin-bottom: 40px;
    }

    div.people:last-child > .person {
        width: 70%;
    }

    /* FOURTH SECTION */
    .benefits {
        justify-content: center;
    }

    .offers {
        flex-basis: calc( (100% / 1 ) - (80px / 1));
    }
}